@import '../../variables';
@import '../../font';

.page-numbers {
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin: 20px 0;
  font-family: 'Inter';
}
.page-item {
  width: 20px;
}
.page-item-edge {
  width: auto;
}
.disabled {
  display: none;
}
.active {
  border-bottom: 2px solid $primary-color;
}
